body {
    background-color: black;
    color: yellow;
    font-weight: bold;
}

button {
    background-color: black;
    border-color: yellow;
    border-style: solid;
    height: 40px;
    width: 80px;
}
#camera, #picture{
    width: 400px;
    height: 350px;
    border-color: yellow;
    border-style: double;
    border-width: 4px;
    margin-bottom: 30px;
}
.object{
    color: yellow;
}
.images{
    width: 300px;
    border: 4px double yellow;
    padding: 4px;
}